<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Ratings:</strong>
  <%= @user.ratings.count %>
</p>
<p>
  <strong>Average rating:</strong>
  <%= @user.average_rating %>
</p>
<ul>
  <% @user.ratings.each do |r| %>
    <li><%= "#{r} " %> <% if current_user == @user %><%= link_to 'delete', r, method: :delete, data: {confirm: 'Are you sure?'} %> <% end %></li>
  <% end %>
</ul>
<strong>Club memberships:</strong>
<ul>
  <% @user.memberships.each do |m| %>
    <li><%= m.beer_club %></li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
