<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<p>
  <i>Established in <%= @brewery.year %></i>
</p>

<p>
  <strong>Beers:</strong>
  <%= @brewery.beers.count %>
</p>

<p>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>
<p>
   <%= "#{pluralize(@brewery.ratings.count, "Rating")}" %> <% if not @brewery.ratings.empty? then %><%= ", average #{@brewery.average_rating}" %><% end %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery), class:"btn btn-primary" %> |
<%= link_to 'Back', breweries_path, class:"btn btn-primary" %>
